* {
 margin: 0;
 padding: 0;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 box-sizing: border-box;
}

body {
 height: 100%;
 width: 100%;
 background-color: black;
 color: white;
}

h1{
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 30px;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

a{
  color: white;
  text-decoration: none;
}