*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

div{
  padding: 20px 30px;
  gap: 20px;
}

button{
  height: 70px;
  width: 150px;
}

h1{
  height: 70px;
  width: fit-content;
  background-color: rgb(155, 155, 155);
  padding: 20px 80px;
  margin-bottom: 20px;
}