*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  gap: 30px;
}

.card{
  height: 320px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 15px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
  font-weight: 400;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 500;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1cc;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #a7a7a7;
}